.cart-container{
  padding:40px 80px;
  background:#f4fff4;
  min-height:100vh;
}

.cart-container h2{
  margin-bottom:30px;
  color:#333;
}


/* CART CARD */

.cart-card{
  display:flex;
  align-items:center;
  gap:25px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
  margin-bottom:20px;
}


/* IMAGE */

.cart-image{
  width:90px;
  height:90px;
  object-fit:contain;
}


/* DETAILS */

.cart-details h3{
  margin:0;
  font-size:20px;
  color:#333;
}

.cart-details p{
  margin:5px 0;
  color:#555;
}


/* PRICE */

.cart-price{
  font-weight:bold;
  color:#2e7d32;
}
.remove-btn{

  margin-top:10px;
  background:#ff3b30;
  border:none;
  color:white;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;

}

.remove-btn:hover{

  background:#d62c24;

}