 /* Container */
.fp-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Card */
.fp-form{
  width:360px;
  background:#ffffff;
  padding:35px 30px;

  border-radius:12px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);

  text-align:center;
}

/* Title */
.fp-title{
  margin-bottom:20px;
  color:#2e7d32;
}

/* Input
.fp-input{
  width:100%;
  padding:12px;

  margin-bottom:15px;

  border:1px solid #ccc;
  border-radius:6px;
} */
.fp-input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
    box-sizing:border-box
}
/* Button */
.fp-btn{
  width:100%;
  padding:12px;

  background:#2e7d32;
  color:white;

  border:none;
  border-radius:6px;

  cursor:pointer;
  transition:0.3s;
}

.fp-btn:hover{
  background:#256628;
}

/* Message */
.fp-message{
  margin-top:10px;
  color:red;
}

/* Login text */
.fp-login-text{
  margin-top:15px;
  font-size:14px;
}

/* Login link */
.fp-login-link{
  color:#2e7d32;
  cursor:pointer;
  margin-left:5px;
}

.fp-login-link:hover{
  text-decoration:underline;
}
.loader {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}