 /* Navbar */
.navbar {
  width: 100%;
  background-color:#2e7d32; /* green header */
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: sticky; /* stays on top when scrolling */
  top: 0;
  align-items: center;
  z-index: 10;
  
}
/* 
.navLinks a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
} */

.navLinks{
  display:flex;
  justify-content:flex-end; /* keeps menu on right side */
  align-items:center;
  gap:30px; /* space between Home Login Register Admin */
}
.navLinks a,
.navLinks button{
color:white;
text-decoration:none;
background:none;
border:none;
font-size:18px;
font-weight:500;
cursor:pointer;
padding:0;
gap: 25px;
}


.navLinks a:hover {
  text-decoration: underline;
}

/* Page content (background slider) */
.page-content {
  height: 100vh; /* full viewport height */
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-image 1s ease-in-out;
}

.page-content h1 {
  color: white;
  font-size: 40px;
  background: rgba(0,0,0,0.4);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
/* LOGIN OVERLAY */

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
justify-content:center;
align-items:center;
}

.modal{
background:white;
padding:30px;
border-radius:10px;
position:relative;
}

.close-btn{
position:absolute;
top:10px;
right:10px;
border:none;
background:red;
color:white;
padding:5px 10px;
cursor:pointer;
}