.rp-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f5f5f5;
}

.rp-form{
  width:350px;
  background:white;
  padding:30px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
/* 
.rp-form input{
  width:100%;
  padding:10px;
  margin:15px 0;
  border:1px solid #ccc;
  border-radius:5px;
} */
.rp-form input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
    box-sizing:border-box
}

.rp-form button{
  width:100%;
  padding:10px;
  background:#2e7d32;
  color:white;
  border:none;
  border-radius:5px;
}
/*========================= */

@media (max-width: 768px) {

  .rp-form {
    padding: 25px 20px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {

  .rp-container {
    align-items: flex-start;   /* better scroll */
    padding-top: 40px;
  }

  .rp-form {
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
  }

  .rp-form input {
    padding: 10px;
    font-size: 13px;
  }

  .rp-form button {
    padding: 10px;
    font-size: 14px;
  }
}

/* =========================
   LARGE SCREENS
========================= */

@media (min-width: 1200px) {

  .rp-form {
    max-width: 420px;
    padding: 40px;
  }
}